/** @format */
/* Here starts footer*/
.footer-container {
  background-color: #ca9999;
}

.footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ca9999;
  height: auto;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.footer-heading {
  display: flex;
  flex-direction: column;
  margin-right: 6rem;
}

.footer-heading h2 {
  margin-bottom: 2rem;
}

.footer-heading a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.footer-heading a:hover {
  color: #863333;
  transition: 0.3s ease-out;
}

.footer-email-form h2 {
  margin-bottom: 2rem;
}
#footer-email {
  width: 250px;
  height: 40px;
  outline: none;
  border: none;
  padding-left: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}
#footer-email::placeholder {
  color: #b1b1b1;
}

#footer-email-btn {
  width: 100px;
  height: 40px;
  outline: none;
  border: none;
  background-color: #863333;
  color: #fff;
  font-size: 1rem;
}

#footer-email-btn:hover {
  cursor: pointer;
  background-color: #8633339f;
  transition: all 0.4s ease-out;
}
.icons .fa {
  color: #ffff;
  margin: 0 10px;
  cursor: pointer;
  padding: 0;
}
.fa.fa-facebook {
  margin-left: 0;
}
.icons .fa:hover {
  cursor: pointer;
  color: #863333;
  transition: all 0.4s ease-out;
}

@media screen and (max-width: 1150px) {
  .footer {
    flex-direction: column;
    display: flex;
    align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 900px) {
  .footer {
    padding-top: 2rem;
  }
}
@media screen and (max-width: 720px) {
  .footer-email-form {
    margin-top: 2rem;
  }
}
